.state-node {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*background-color: #e3c85b;*/
}
  
.state-node-name {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 7px;
    overflow-wrap: anywhere;
}

path.react-flow__edge-path {
    stroke-width: 4;
    stroke: #000000;
}